.main {
    display: flex;
    flex-direction: row;
}

.leftPart {

    width: 40vw;
    height: 100vh;
    background-image: url("/images/twitter_bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
}

.twitterLogo {
    width: 5vw;
    margin-top: 30px;

}

.text {
    color: white;
    margin-bottom: 10px;
}

.rightPart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 25px;
}

.sign {
    display: flex;
    flex-direction: column;
    color: white
}

.logoLeft {
    width: 50%;
}

.signupBtn {
    width: 50%;
    height: 50%;
    margin-left: 10px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 30px;
    background-color: #3690ED;
    color: white;
    font-weight: bold;
    border: none;
}

.signinBtn {
    width: 50%;
    height: 50%;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    background-color: #151D27;
    color: #006EED;
    border: white 1px solid;
    font-weight: bold;

}

.signupBtn:hover {
    cursor: pointer;
}

.signinBtn:hover {
    cursor: pointer;
}