.main {
    display: flex;
    flex-direction: row;
}

.leftPart {
    border: 1px solid black;
    width: 40vw;
    height: 100vh;
    background-image: url("/images/twitter_bg.png");
}

.title {
    color: white;
}

.twitterLogo {
    width: 5vw;
}

.text {
    color: white;
}

.rightPart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sign {
    display: flex;
    flex-direction: column;
    color: white
}