.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.title {
    line-height: 1.15;
    font-size: small;
    font-weight: 600;
    padding-bottom: 15px;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.rightheader {
    font-weight: 600;
    font-size: large;
    margin: 10px;
    text-align: left;
    width: 30vw;
}

.tweets {
    font-size: small;
    color: grey;
    padding-bottom: 10px;
    padding-top: 5px;
}

.trendContainer {
    padding: 10px;
}

.hashTagList {
    background-color: #1B232C;
    border-radius: 10px;
    width: 90%;
}