.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding: 0;
  color: white;
  background-image: url(../public/images/logo_twitter.png);
  background-position: top;
  background-size: 50px;
  background-repeat: no-repeat;
  margin: 2vw;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.leftsection {
  border-right: solid #374b65 1px;
  height: 100vh;
  width: 20vw;
  display: flex;
  justify-content: space-between;
}

.centersection {
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.rightsection {
  border-left: solid #3f5774 1px;
  height: 100vh;
  width: 30vw;
  display: flex;
  justify-content: space-between;
}

.centerheader {
  font-weight: 600;
  font-size: large;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.inputBlock {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.post {
  min-height: 100px;
  background-color: #252c35;
}

.input {
  background-color: transparent;
  border: 1px #3f5774 #3f5774;
  width: 40vw;
  height: 30px;
  color: white;
}

.inputUnderSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 40vw;
  font-size: smaller;
}

.tweetButton {
  background-color: #0070f3;
  padding: 4px;
  margin: 10px;
  width: 90px;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.logout {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  width: 70px;
  height: 20px;
  text-align: center;
  font-size: smaller;
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
}

.userInfo {
  display: flex;
  flex-direction: row;
}